@{
    ViewBag.Title = "О Нас";
    Layout = "_Layout";
}
<div class="my-2">
  <h2 class="text-center">Добро пожаловать</h2>
  <p>Добро пожаловать на сайт интернет-магазина тюнинга, аксессуаров и стандартных запчастей driveturbo.ru<br/>
    Наш магазин специализируется на продаже стандартных запчастей, аксессуаров, а также тюнинга отечественных и зарубежных производителей для автомобилей.<br/>
    Мы продаем проверенные на опыте запчасти, только от проверенных производителей, что гарантирует на 100% улучшения характеристик вашего автомобиля.<br/>
    Вся продукция оригинальная, напрямую с заводов-изготовителей. Это исключает подделки и гарантирует качество и низкие цены.</p>
</div>

<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d18754.021589000276!2d38.286353!3d54.016039!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x26074e22661c74d!2z0KLQvtGA0LPQvtCy0L4t0YDQsNC30LLQu9C10LrQsNGC0LXQu9GM0L3Ri9C5INGG0LXQvdGC0YAgItCf0LXRgNCy0YvQuSI!5e0!3m2!1sru!2sru!4v1650632730472!5m2!1sru!2sru" width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
<h4 class="text-center m-2">Наш телефон: 7-(999)-999-99-99</h4>
