@model IEnumerable<Product>

@{
    ViewBag.Title = "Каталог";
    Layout = "_Layout";
}

<div class="accordion" id="accordionExample">
  <div class="card">
    <div class="card-header" id="headingOne">
      <h5 class="mb-0">
        <a class="btn btn-link" data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
           Фильтры
         </a>
      </h5>
    </div>

    <div id="collapseExample" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
        <div class="card-body">
            <form class="col-12 col-lg-auto mb-3 mb-lg-0" asp-controller="Home" asp-action="Search" method="get">
                <input name="searchString" id="searchString" type="search" class="form-control" placeholder="Поиск..." aria-label="Search">
            </form>
            <div class="row">
                <div categories-items class="btn-group my-2"></div>
            </div>
        </div>
    </div>
  </div>
</div>

<div class="row row-cols-3">
    @foreach (var item in Model)
    {
       @Html.Partial("ProductSummary",item)
    }
</div>

