@{
    ViewBag.Title = "Отзывы";
    Layout = "_Layout";
}

<div class="row">
  
  <div class="col-6 mb-4">
    <div class="card text-white bg-success">
      <div class="card-header">
        Алексей
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <div class="col-md-4">
            <img src="/img/picture-1601334-PBhUhGPu.jpg" class="img-fluid rounded-start" alt="..." style="max-height: 60px; max-width: 60px">
          </div>
          <blockquote class="blockquote mb-0">
            <p>Заказывал расходники пришли вовремя и детали качественные ,менеджер не навязчивый подскажет как надо!</p>
            <footer class="blockquote-footer text-white">Месяц назад</footer>
          </blockquote>
        </div>
      </div>
    </div>
  </div>

  <div class="col-6 mb-4">
    <div class="card text-white bg-success">
      <div class="card-header">
        Сергей
      </div>
      <div class="card-body">
        <div class="col-md-4">
          <img src="/img/30474817.jpeg" class="img-fluid rounded-start" alt="..." style="max-height: 60px; max-width: 60px">
        </div>
        <blockquote class="blockquote mb-0">
          <p>Заказывал запчасти для то у ребят , и остался доволен адекватные цены и быстрая доставка !</p>
          <footer class="blockquote-footer text-white">Месяц назад</footer>
        </blockquote>
      </div>
    </div>
  </div>

  <div class="col-6 mb-4">
    <div class="card text-white bg-success">
      <div class="card-header">
        Андрей
      </div>
      <div class="card-body">
        <div class="col-md-4">
          <img src="/img/44916180.jpeg" class="img-fluid rounded-start" alt="..." style="max-height: 60px; max-width: 60px">
        </div>
        <blockquote class="blockquote mb-0">
          <p>Хороший интернет магазин с не дорогими запчастями и аксессуарами, по срокам доставки привозят все в обозначенное время, а не кормят завтраками пока машина простаивает в сервисе на ремонте. Молодцы ребята!
          </p>
          <footer class="blockquote-footer text-white">В прошлом году</footer>
        </blockquote>
      </div>
    </div>
  </div>
  
  <div class="col-6 mb-4">
    <div class="card text-white bg-success">
      <div class="card-header">
        Владимир Мантров
      </div>
      <div class="card-body">
        <div class="col-md-4">
          <img src="/img/28306758.jpeg" class="img-fluid rounded-start" alt="..." style="max-height: 60px; max-width: 60px">
        </div>
        <blockquote class="blockquote mb-0">
          <p>Качественные детали для автомобиля и адекватные цены , теперь буду закупаться Здесь!!!!</p>
          <footer class="blockquote-footer text-white">В прошлом году</footer>
        </blockquote>
      </div>
    </div>
  </div>
  
</div>


