@{
    ViewBag.Title = "Заказ отправлен";
    Layout = "_Layout";
}

<div class="text-center">
    <h2>Спасибо за покупку!</h2>
    <p>мы пришлём Ваш заказ как можно быстрее.</p>
    <a asp-action="Index" asp-controller="Home" class="btn btn-primary mb-2">На главную</a>
</div>

